<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSUserNotificationsUsageDescription</key>
	<string>Vibesy would like to send you notifications to keep you informed about current events, updates, and activities from your friends.</string>
	<key>UIAppFonts</key>
	<array>
		<string>ABeeZee-Italic.ttf</string>
		<string>ABeeZee-Regular.ttf</string>
		<string>Poppins-Regular.ttf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>com.foundavibe.vibesy.stripe</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>vibesy</string>
			</array>
		</dict>
	</array>
	<key>NSCameraUsageDescription</key>
	<string>Vibesy needs camera access to scan QR codes for ticket verification.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Vibesy uses location to help you find nearby events and venues.</string>
</dict>
</plist>
